page-kehadiranpelajar {
  
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        ion-col {
            border: 1px solid #3d71e2;
            margin: 0;
        }

        ion-col:nth-child(even) {
            background-color: #dddddd;
            border: 1px solid #3d71e2;
            margin: 0;
        }

    
}
